<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mystatewebjobs.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <MSDeployServiceURL>mystatewebjobs.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mystatewebjobs</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$mystatewebjobs</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="UsersMaintenance.mystateApiDbEntities1" Order="1" Enabled="False">
          <Destination Path="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=xslolvpyxk.database.windows.net;initial catalog=mystateApiDb_MultiSdk;user id=mystate;password=my22State;multipleactiveresultsets=True;application name=EntityFramework&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="UsersMaintenance.mystateApiDbEntities1, UsersMaintenance" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UsersMaintenance.mystateApiDbEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string="data source=xslolvpyxk.database.windows.net;initial catalog=mystateApiDb_MultiSdk;user id=mystate;password=my22State;multipleactiveresultsets=True;application name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="UsersMaintenance.mystateApiDbEntities1" />
  </ItemGroup>
</Project>